In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv(r"C:\Users\Mostafa\Downloads\tabl2\archive\bestsellers with categories.csv")

In [3]:
data.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         550 non-null    object
 1   Author       550 non-null    object
 2   User Rating  550 non-null    float64
 3   Reviews      550 non-null    int64
 4   Price        550 non-null    int64
 5   Year         550 non-null    int64
 6   Genre        550 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 30.2+ KB

In [5]:
data['Genre'].value_counts()

Non Fiction    310
Fiction        240
Name: Genre, dtype: int64

In [6]:
data['Genre'].value_counts(normalize=True)

Non Fiction    0.563636
Fiction        0.436364
Name: Genre, dtype: float64

In [7]:
data_order=data.groupby(['Name','Author','Genre'],as_index=False)[['User Rating','Reviews']].mean()
data_order = data_order[data_order['Reviews']>3000]
data_order= data_order.sort_values('User Rating', ascending=False).head(20)
data_order

,Name,Author,Genre,User Rating,Reviews
177,Obama: An Intimate Portrait,Pete Souza,Non Fiction,4.9,3192.0
71,Dog Man: Lord of the Fleas: From the Creator o...,Dav Pilkey,Fiction,4.9,5470.0
118,Harry Potter and the Goblet of Fire: The Illus...,J. K. Rowling,Fiction,4.9,7758.0
119,Harry Potter and the Prisoner of Azkaban: The ...,J.K. Rowling,Fiction,4.9,3146.0
120,Harry Potter and the Sorcerer's Stone: The Ill...,J.K. Rowling,Fiction,4.9,10052.0
112,Hamilton: The Revolution,Lin-Manuel Miranda,Non Fiction,4.9,5867.0
108,"Goodnight, Goodnight Construction Site (Hardco...",Sherri Duskey Rinker,Fiction,4.9,7038.0
66,Dog Man and Cat Kid: From the Creator of Capta...,Dav Pilkey,Fiction,4.9,5062.0
36,"Brown Bear, Brown Bear, What Do You See?",Bill Martin Jr.,Fiction,4.9,14344.0
312,The Wonderful Things You Will Be,Emily Winfield Martin,Fiction,4.9,8842.0
67,Dog Man: A Tale of Two Kitties: From the Creat...,Dav Pilkey,Fiction,4.9,4786.0
208,Strange Planet (Strange Planet Series),Nathan W. Pyle,Fiction,4.9,9382.0
68,Dog Man: Brawl of the Wild: From the Creator o...,Dav Pilkey,Fiction,4.9,7235.0
69,Dog Man: Fetch-22: From the Creator of Captain...,Dav Pilkey,Fiction,4.9,12619.0
70,Dog Man: For Whom the Ball Rolls: From the Cre...,Dav Pilkey,Fiction,4.9,9089.0
116,Harry Potter and the Chamber of Secrets: The I...,J.K. Rowling,Fiction,4.9,19622.0
197,Rush Revere and the First Patriots: Time-Trave...,Rush Limbaugh,Fiction,4.9,3836.0
349,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,Fiction,4.9,9413.0
196,Rush Revere and the Brave Pilgrims: Time-Trave...,Rush Limbaugh,Fiction,4.9,7150.0
267,The Legend of Zelda: Hyrule Historia,Patrick Thorpe,Fiction,4.9,5396.0

In [8]:
# Weighted rating
m = min(data['Reviews'])
C = data['User Rating'].mean()
def weighted_rating(x, m=m, C=C):
    v = x['Reviews']
    R = x['User Rating']
    return (v/(v+m) * R) + (m/(m+v) * C)

In [9]:
data['Weighted Rating'] = data.apply(weighted_rating, axis=1)

In [10]:
wi=data.groupby(['Name','Author','Genre'], as_index=False)[['User Rating', 'Reviews', 'Weighted Rating']].mean().sort_values(by='Weighted Rating', ascending=False).head(10)

In [11]:
wi

,Name,Author,Genre,User Rating,Reviews,Weighted Rating
178,"Oh, the Places You'll Go!",Dr. Seuss,Fiction,4.9,21834.0,4.899524
116,Harry Potter and the Chamber of Secrets: The I...,J.K. Rowling,Fiction,4.9,19622.0,4.899470
140,Jesus Calling: Enjoying Peace in His Presence ...,Sarah Young,Non Fiction,4.9,19576.0,4.899469
310,The Very Hungry Caterpillar,Eric Carle,Fiction,4.9,19546.0,4.899468
36,"Brown Bear, Brown Bear, What Do You See?",Bill Martin Jr.,Fiction,4.9,14344.0,4.899275
69,Dog Man: Fetch-22: From the Creator of Captain...,Dav Pilkey,Fiction,4.9,12619.0,4.899177
151,Last Week Tonight with John Oliver Presents A ...,Jill Twiss,Fiction,4.9,11881.0,4.899126
120,Harry Potter and the Sorcerer's Stone: The Ill...,J.K. Rowling,Fiction,4.9,10052.0,4.898967
349,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,Fiction,4.9,9413.0,4.898897
208,Strange Planet (Strange Planet Series),Nathan W. Pyle,Fiction,4.9,9382.0,4.898894

In [12]:
#top expensive
tex=data.groupby(['Name', 'Author', 'Genre'], as_index=False)['Price'].mean().sort_values('Price', ascending=False).head(10)

In [13]:
tex

,Name,Author,Genre,Price
56,Diagnostic and Statistical Manual of Mental Di...,American Psychiatric Association,Non Fiction,105.0
307,The Twilight Saga Collection,Stephenie Meyer,Fiction,82.0
112,Hamilton: The Revolution,Lin-Manuel Miranda,Non Fiction,54.0
228,The Book of Basketball: The NBA According to T...,Bill Simmons,Non Fiction,53.0
115,Harry Potter Paperback Box Set (Books 1-7),J. K. Rowling,Fiction,52.0
191,Publication Manual of the American Psychologic...,American Psychological Association,Non Fiction,46.0
333,Watchmen,Alan Moore,Fiction,42.0
281,The Official SAT Study Guide,The College Board,Non Fiction,40.0
220,The Alchemist,Paulo Coelho,Fiction,39.0
282,"The Official SAT Study Guide, 2016 Edition (Of...",The College Board,Non Fiction,36.0

In [14]:
mean_price = data.groupby(['Genre'], as_index=False)['Price'].mean()

In [15]:
mean_price

         Genre      Price
0      Fiction  10.850000
1  Non Fiction  14.841935

In [16]:
# top Reviewed

R_top=data.groupby(['Author','Name', 'Genre'],as_index=False)[['Weighted Rating', 'Reviews']].mean().sort_values('Reviews', ascending=False).head(10)

In [17]:
R_top

,Author,Name,Genre,Weighted Rating,Reviews
87,Delia Owens,Where the Crawdads Sing,Fiction,4.799924,87841.0
243,Paula Hawkins,The Girl on the Train,Fiction,4.100241,79446.0
231,Michelle Obama,Becoming,Non Fiction,4.799890,61133.0
128,Gillian Flynn,Gone Girl,Fiction,4.000399,57271.0
182,John Green,The Fault in Our Stars,Fiction,4.699940,50482.0
200,Kristin Hannah,The Nightingale: A Novel,Fiction,4.799864,49288.0
100,E L James,Fifty Shades of Grey: Book One of the Fifty Sh...,Fiction,3.800640,47265.0
15,Andy Weir,The Martian,Fiction,4.699924,39459.0
21,Anthony Doerr,All the Light We Cannot See,Fiction,4.600019,36348.0
245,Paulo Coelho,The Alchemist,Fiction,4.699916,35799.0

In [18]:
mean_R=data.groupby(['Genre'])['Reviews'].mean()

In [19]:
mean_R

Genre
Fiction        15683.791667
Non Fiction     9065.145161
Name: Reviews, dtype: float64

In [25]:
mean_R.to_csv("bestsellers with categories analysis mean_R.csv")

In [ ]:
pwd